/* ======
	VARIABLES  
	======== */
$text-c: #32413f;
$yell-c: #FFE89A;
$blue-c: #88E1DA;

$bold: 700;

/* ======
	  BODY  
	======== */
body {
	color: $text-c;
	font-family: 'Hind', sans-serif;
	font-weight: 400;
	line-height: 1.5rem;
	background-image: url('../graphics/background.jpg');
}

h1 {
	font-size: 2rem;
	font-weight: $bold;
	text-transform: uppercase;
	letter-spacing: 0.5rem;
	z-index: 100;
	padding: 0;
	margin: 0 auto;
	@media screen and (min-width: 600px) {
		font-size: 3rem;
		left: 1rem;
		-ms-transform: rotate(-2deg); /* IE 9 */
		-webkit-transform: rotate(-2deg); /* Chrome, Safari, Opera */
		transform: rotate(-2deg);		
		position: absolute;
		top: -2rem;
		left: 1rem;
	}
	@media screen and (min-width: 800px) {
		font-size: 4rem;
		color: -4rem;
	}
}

article {
	padding: 1.5rem 1rem 2rem 2rem;
	background-color: white;
	margin-bottom: 2rem;
	box-shadow: 0 2px 2px rgba(0,0,0,0.1);
	border: 1px solid rgba(0,0,0,0.2);
	@media screen and (min-width: 600px) {
		-ms-transform: rotate(-1deg); /* IE 9 */
		-webkit-transform: rotate(-1deg); /* Chrome, Safari, Opera */
		transform: rotate(-1deg);
	}
}

p {
	padding: 0;
	margin: 0;
}

a {
	color: $text-c;
	text-decoration: none;
	transition: 0.2s all;
	&:visited {
		color: $text-c;
	}
	&:hover {
		color: desaturate(darken($blue-c, 40), 20);
	}
	&:active {
		color: desaturate(darken($blue-c, 40), 20);
	}
	&:focus {
		color: desaturate(darken($blue-c, 40), 20);
	}
}

.header-link {
	position: relative;
	&:hover{
		.twit-bird{
			-ms-transform: rotate(10deg); /* IE 9 */
			-webkit-transform: rotate(10deg); /* Chrome, Safari, Opera */
			transform: rotate(10deg);
			top: -1.9rem;
			fill: desaturate(darken($blue-c, 25), 20);
		}
	}
}

.twit-bird {
	position: absolute;
	width: 40px;
	height: 34px;
	bottom: 0;
	margin-left: 0.25rem;
	top: -2rem;
	transition: 0.2s all;
	fill: desaturate(darken($blue-c, 30), 20);
}

.page-content {
	position: relative;
	max-width: 1000px;
	margin: 0 auto;
	width: 100%;
	margin-top: 2.5rem;
	text-align: center;
	@media screen and (min-width: 600px) {
		text-align: left;
		margin-top: 6rem;
	}
}

.upcoming {
	position: relative;
}

.article-container {
	text-align: left;
	width: 24rem;
	margin: 4rem auto 0 auto;
	@media screen and (min-width: 600px) {
		float: right;
		clear: both;
		margin-top: 5rem;
	}
}

.company {
	font-weight: 700;
	font-size: 1.5rem;
	line-height: 1.5rem;
}

.description {
	-ms-transform: rotate(0deg); /* IE 9 */
	-webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
	transform: rotate(0deg);
}

.time {
	margin-top: 0.5rem;
	font-size: 1rem;
	line-height: 2rem;
	span {
		font-weight: 700;
		font-size: 1rem;
		margin-right: 1rem;
	}
}

.address {
	margin-top: 0.25rem;
	color: #999;
}

.drawn-line {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 20rem;
	pointer-events: none;
	opacity: 0;
	@media screen and (min-width: 600px) {
		opacity: 1;
	}
}

.point_b {
	position: absolute;
	width: 10px;
	height: 10px;
	top: 45%;
	left: 0px;
}

#map {
	border: 4px solid #222;
	border-radius: 50%;
	background-color: #eee;
	width: 460px;
	height: 460px;
	margin: 0 auto;
	position: relative;
	top: 1rem;
	z-index: 0;
	text-align: left;
	display:none;
	@media screen and (min-width: 600px) {
		position: absolute;
		display:block;
		z-index: -1;
		top: 3rem;
	}
}

.point_a {
	position: absolute;
	top: 230px;
	left: 230px;
	width: 1px;
	height: 1px;
}

.testing {
	background-color: rgba(0,0,0,0.1);
	border: 1px solid rgba(0,0,0,0.2);
}

/* FFF7B3 */

button {
  background: $yell-c;
  border: 1px solid desaturate(darken($yell-c, 38), 20);
  color: desaturate(darken($yell-c, 38), 20);
  font: inherit;
  margin-top: 1rem;
  box-shadow: 0 2px 2px rgba(0,0,0,0.1);
  line-height: normal;
  overflow: visible;
  padding: 0.65rem 1.5rem 0.5rem;
  cursor: pointer;
  transition: background-color 0.2s;
  margin-bottom: 2px;
  -webkit-appearance: button; /* for input */
  -webkit-user-select: none; /* for button */
     -moz-user-select: none;
      -ms-user-select: none;
	&:hover {
		background-color: $blue-c;
	  color: desaturate(darken($blue-c, 30), 20);
		border-color: desaturate(darken($blue-c, 30), 20);;
	}
	&:focus {
		outline: none;
	}
}

.frying-pan {
	position: absolute;
	pointer-events: none;
	left: -20px;
	top: -4px;
	display: none;
	img {
		height: 530px;
	}
	@media screen and (min-width: 600px) {
		display: block
	}
}
